In [ ]:
import pandas as pd

students = [('Ana', 23, 'San Jose', 'A'),
            ('Esteban', 22, 'Heredia', 'B'),
            ('Juan', 22, 'Cartago', 'A'),
            ('Karla', 22, 'Limon', 'A'),
            ('Ernesto', 21, 'Heredia', 'B')]
df = pd.DataFrame(students, columns = ['Nombre', 'Edad','Ciudad','Seccion'])

print(df)

def getIndexes(dfObj, value):
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col] == True].index)

    for rows in rows:
      listOfPos.append((rows, col))

  return listOfPos

listOfPositions = getIndexes(df,22)

print('Index positions of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
  print(listOfPositions[i])

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limon       A
4  Ernesto    21   Heredia       B
Index positions of 22 in Dataframe :
(1, 'Edad')
(2, 'Edad')
(3, 'Edad')