<a href="https://colab.research.google.com/github/joseramirez2102/Analisis_de_datos/blob/main/Ejercicios_13_04_23_Jose_Daniel_Ramirez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejemplo 2**

In [ ]:
import pandas as pd
data = {'Country':['Costa Rica','India','Brazil'],
        'Capital':['San Jose','New Delhi','Brasilia'],
        'Population':[4500000,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San Jose     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

**Ejercicio 1**

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de Temperaturas: ")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media=Suma/N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de Temperaturas:
3
Ingrese la temperatura: 30
Ingrese la temperatura: 24
Ingrese la temperatura: 17
23.666666666666668

In [ ]:
import pandas as pd
mascota = pd.DataFrame(
    data = {
        'name': ['Minimo','Milo','Snoopy','Blanco','LittlePony'],
        'type': ['gato','perro','perro','perro','caballo']
    },
    index = [71,42,11,98,42]
)

visitas = pd.DataFrame(
    data = {
        'pet_id': [42,31,71,42,98,42],
        'fecha': ['2019-03-15','2019-03-17','2019-03-21','2019-04-02','2019-04-06','2019-04-10'],
        'costo': [2000,5000,1000,3000,4000,2000]
    }
)

mascota.index.rename('pet_id',inplace=True)
visitas.index.rename('visit_id',inplace=True)

print(mascota.query('pet_id==71'))
print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())
print(visitas)

print(visitas.sort_values(by='costo',ascending=False))

tienda=pd.merge(mascota, visitas, how='cross')

print(tienda)

          name  type
pet_id
71      Minimo  gato
17000
1000
5000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-17   5000
2             71  2019-03-21   1000
3             42  2019-04-02   3000
4             98  2019-04-06   4000
5             42  2019-04-10   2000
          pet_id       fecha  costo
visit_id
1             31  2019-03-17   5000
4             98  2019-04-06   4000
3             42  2019-04-02   3000
0             42  2019-03-15   2000
5             42  2019-04-10   2000
2             71  2019-03-21   1000
          name     type  pet_id       fecha  costo
0       Minimo     gato      42  2019-03-15   2000
1       Minimo     gato      31  2019-03-17   5000
2       Minimo     gato      71  2019-03-21   1000
3       Minimo     gato      42  2019-04-02   3000
4       Minimo     gato      98  2019-04-06   4000
5       Minimo     gato      42  2019-04-10   2000
6         Milo    perro      42  2019-03-15   2000
7         Milo    perro      31  2019-03-17   5000
8         Milo    perro      71  2019-03-21   1000
9         Milo    perro      42  2019-04-02   3000
10        Milo    perro      98  2019-04-06   4000
11        Milo    perro      42  2019-04-10   2000
12      Snoopy    perro      42  2019-03-15   2000
13      Snoopy    perro      31  2019-03-17   5000
14      Snoopy    perro      71  2019-03-21   1000
15      Snoopy    perro      42  2019-04-02   3000
16      Snoopy    perro      98  2019-04-06   4000
17      Snoopy    perro      42  2019-04-10   2000
18      Blanco    perro      42  2019-03-15   2000
19      Blanco    perro      31  2019-03-17   5000
20      Blanco    perro      71  2019-03-21   1000
21      Blanco    perro      42  2019-04-02   3000
22      Blanco    perro      98  2019-04-06   4000
23      Blanco    perro      42  2019-04-10   2000
24  LittlePony  caballo      42  2019-03-15   2000
25  LittlePony  caballo      31  2019-03-17   5000
26  LittlePony  caballo      71  2019-03-21   1000
27  LittlePony  caballo      42  2019-04-02   3000
28  LittlePony  caballo      98  2019-04-06   4000
29  LittlePony  caballo      42  2019-04-10   2000